<div class="row">
    <div class="col-sm-10 col-sm-offset-1 page-header">
        <h2>
            <a href="http://www.upc.edu"><img class="mediana" src="../images/logoUniversidad.png" /></a>
        </h2>
    </div>
</div>

<div class="col-sm-8 col-sm-offset-1 ">
    <div class="row">
        <form name="dataInputForm" ng-submit="surveyCtrl.postSurvey()">
            <div class="row">
                <h1> Enquesta curs {{surveyCtrl.survey.period}}</h1>
                <br>
                <p class="descripcio">Realitza l'enquesta de {{surveyCtrl.survey.subject}} per al professor {{surveyCtrl.survey.teacher}}.</p>
            </div>
            <div class="row">
                    <p>Selecciona el grau de satisfacció (1: molt en desacord i 5: molt en acord)</p>
                    <ul>
                        <li ng-repeat="question in surveyCtrl.survey.questions">
                            {{question.formulation}}
                            <label ng-repeat="answer in question.answers">
                                <input type="radio" name="{{question._id}}" ng-model="surveyCtrl.results[$parent.$index]" ng-value="answer.value" /> {{answer.value}}
                            </label>
                        </li>

                    </ul>
                    <br>
                    <input class="btn btn-default" type="submit" value="Enviar enquesta"/>
            </div>
        </form>
    </div>
</div>

